.benchmarks
.git/
.github/
.pytest_cache/
dockerfiles/
docs/
target/
pg_graphql.egg-info/
nix/
node_modules/
results/
venv/
*.md
*.md
*.py
*.yaml
*.yml
*.graphql
*.nix
.python-version
.gitignore
.clang-format
