results/
debug/
__pycache__/
ex/
.python-version
venv/
site/
regression.*
.DS_Store
*.egg-info/
*.json
*.ipynb
*.swp
*.diff
.ipynb_checkpoints/*
node_modules/
docs/graphql_lexer/
perf.txt
query.txt
schema.graphql
target/
